
  h1 {
    font-size: 2.5rem;
    text-decoration: 'none';
    padding-bottom: 5%;
    font-family: fantasy;
  }

  main {
      margin-top: 0%;
      background-color: rgb(65, 47, 33);
      color: rgb(20, 11, 6);
      padding: 3rem;
      text-decoration: 'none';
      padding-bottom: 10px;

  }
  
  ul {
    text-decoration: 'none';
  }

 .image {
    margin: 0rem;
    box-shadow: rgb(218, 173, 144) 0px 0px 30px 30px;
  }

  .link {
    text-decoration: 'none';
  }


  
  

