body {
  background-color: rgb(223, 200, 182);
  text-align: center;
  align-items: center;
  margin-bottom: 10%;
} 

h4 {
  padding-bottom: 5%;

}

.link {
  text-decoration: 'none';
}

ul {
  text-decoration: 'none';
  display: 'none';
}

img {
  box-shadow: rgb(56, 30, 13) 0px 0px 40px 50px;
  margin-bottom: 10%;
}



